@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}





.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header{
    margin: 0 auto;
    max-width: 1250px;

}

.head-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.list-container{
    display: flex;
    gap: 30px;
}
.header-info-container{
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
    align-items: center;
}
.header-info-container div{
width: 100%;
}
.img-container {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    margin-left: 250px;
}
/* .header-info-container .img-container img{
    width: 100%;
} */

.head-bar-heading{
    color: rgb(58, 58, 58);
font-size: 1.2rem;
}

ul li a{
    color: rgb(58, 58, 58);
font-size: 0.8rem;
font-weight: 600;
}

.header-info h1{
    color: rgb(58, 58, 58);
font-size: 2.rem;
font-weight: 700;
}

.header-info p{
    color: rgb(58, 58, 58);
font-size: 0.8rem;
font-weight: 600;
margin-top: -20px;
}
.btn-primary{
    color: rgb(255, 255, 255);
font-size: 0.8rem;
font-weight: 700;
padding: 8px 16px;
border: none;
border-radius: 20px;
background-color: rgb(224, 44, 109);
margin-top: 10px;
cursor: pointer;

}
.header-info-container{
    margin-bottom: 80px;
}
.company-container-div{
    margin: 0 auto;
    max-width: 1080px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.116);
    border-top: 0.5px solid rgba(0, 0, 0, 0.116);
        
}
.company-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
     
    margin-bottom: 30px;

}
section{
    margin-bottom: 80px;
}
.popular-collection h3{
    color: rgb(58, 58, 58);
font-size: 1.5rem;
font-weight: 600;
text-align: center;
margin-bottom: 50px;

}
.section-second{
    margin: 0 auto;
    max-width: 1080px;
}
.img-price h3{
    color: rgb(24, 25, 31);
font-size: 1.2rem;
font-weight: 500;
margin-top: 10px;
}
.img-price h5{
color: rgba(0, 0, 0, 0.87);

font-weight: 400;
font-size: 1rem;
margin-top: -10px;

}


.img-price h6{
color: rgb(94, 99, 102);

font-size: 0.6rem;
font-weight: 700;
margin-top: -15px;

}


.product-description{
    color: rgb(120, 120, 133);
font-size: 0.6rem;
font-weight: 700;
margin-top: -15px;
}


.before-rating::before{
    content: "★★★★★";
    color: rgb(251, 130, 0);
    
}
/* body{
    background-color: antiquewhite;
} */



.img-price-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
    

}

.img-price{
border-radius: 5px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.20);
background: rgb(255, 255, 255);
padding: 20px;
justify-self: center;
}
.see-more{
    margin-top: 50px;
    justify-self: right;
    
    
 
}
     
.btn-secondary{
    border: none;
    background-color: white;
    color: rgba(224, 44, 109, 0.87);
font-size: 0.rem;
font-weight: 700;
cursor: pointer;



}



.section{
    margin: 0 auto;
    max-width: 1150px;
}
.third-section{
    margin-top: 100px;
}

.last-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-section div{
    width: 100%;
}

.description h2{
    color: rgb(10, 8, 38);
font-size: 2.1rem;
font-weight: 700;
}



.description p{
   color: rgb(108, 108, 108);
font-size: 0.8rem;
font-weight: 700;
margin-top: -10px;

}
main{
    margin-bottom: 80px;
}

footer{
    background-color: midnightblue;
    text-align: center;
    padding: 50px;
}

.footer h3{
    color: rgb(255, 255, 255);
font-size: 1.2rem;
font-weight: 700;

}

.footer p{
    color: rgb(217, 219, 225);
font-size: 0.6rem;
font-weight: 700;
margin-top: -10px;
}

.icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}




.mobile-header{
    display: none;
    
}






@media screen and (max-width:576px){

.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-bar{
    display: none;
}
.mobile-header h2{
    color: rgb(58, 58, 58);
font-size: 1.5rem;
font-weight: 700;

}

.header-info-container{
    flex-direction: column-reverse;
    justify-self: center;
   
}
 .header-info{
    text-align: center;
    max-width: 500px;
 }

 .company-container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    justify-items: center;
 }



 .img-price-container{
    grid-template-columns: repeat(1,1fr);
    
    

}
.last-section{

    flex-direction: column-reverse;
  text-align: center;
}

.btn-primary{
    margin-bottom: 50px;
}
.header-info-container .img-container img{
    width: 100%;
}

.img-container {
background-image: url('../images/Circle\ design.svg');
background-size: cover;
    margin-left: 0px;
    
}

.last-section img{
    width: 100%;
}

.img-container{
margin-bottom: 50px;
}

.company-container{
    margin-top: -50px;
    
}
   .company-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
} 

.company-container-div{
    border: none;
}
}